<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    <div class="header">
      <div class="basinf">
        <p class="mail">Email:wonbin12300@gmail.com</p>
        <p class="tel">Tel:+886 987878788</p>
      </div>
      <div class="search">
        <input type="text" id="search" placeholder="請輸入關鍵字" />
        <a id="searchicon" href="#"
          ><img src="images/search.png" width="15px"
        /></a>
      </div>
    </div>

    <div class="menu">
      <div class="logo">
        <a href="http://localhost:3000"
          ><img src="images/logo.png" width="120px" alt="Fitness Base"
        /></a>
        <h1>Fitness Base</h1>
      </div>
      <div class="list">
        <ul>
          <li><a href="http://localhost:3000">首頁</a></li>
          <li><a href="https://google.com" target="_blank">肌肉剖析</a></li>
          <li><a href="https://google.com" target="_blank">訓練資訊</a></li>
          <li><a href="http://localhost:3000/tdee">TDEE計算機</a></li>
          <li><a href="http://localhost:3000/store">購物商城</a></li>
        </ul>
      </div>
    </div>

    <div class="content">
      <div class="wrap">
        <div class="player">
          <h2>大H</h2>
          <img src="images/player1.jpg" alt="大H" />
          <p>
            IFBB PRO 台灣第一位健體職業選手 IFBB PRO Men's Physique / 100%
            Natural Athlete<br />
            <br />體適能相關證照： <br />FISAF 國際體適能指導員教練 證照
            <br />TRX-FTC 功能性訓練師 證照 MCT 肌筋膜施壓技巧認證 <br />CTSSN
            台灣運動營養學會 運動營養專業認證
          </p>
        </div>
        <div class="player">
          <h2>Peeta葛格</h2>
          <img src="images/player2.jpg" alt="Peeta葛格" />
          <p>
            17歲減肥成功後立志要幫更多人達到好體態，並且開始健身、研究營養學。
            <br /><br />大學鑽研營養學以及運動營養學之後發現台灣健身、營養知識有很多可以進步的地方。
            <br /><br />於2016年建立 Youtube 頻道 “ Peeta營養健身葛格
            ”，讓大家認識正確的觀念。 <br /><br />2018年開始認真投入 Youtube
            影片、寫書、演講，並希望能影響並且幫助更多人。
          </p>
        </div>
        <div class="player">
          <h2>超級熱狗王</h2>
          <img src="images/player3.jpg" alt="超級熱狗王" />
          <p>
            2015 中正盃健美錦標賽-60kg 第六名 <br />2015 樂活盃健美錦標賽-65kg
            第五名 <br /><br />2016 全國古典健美錦標賽 -171cm 季軍 <br />2016
            全國青年盃健美錦標賽-75kg 第五名 <br />2016 中正盃-75kg 冠軍
            <br /><br />2017 全國總統盃健美錦標賽-75kg 亞軍 <br />2017
            健工盃邀請賽-75kg 冠軍 <br /><br />2018 全國總統盃-85kg 季軍 2018
            AGP 韓國職業資格賽 獲得台灣第一位古典健體職業卡
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
