<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="header">
      <div class="basinf">
        <p class="mail">Email:wonbin12300@gmail.com</p>
        <p class="tel">Tel:+886 987878788</p>
      </div>
      <div class="search">
        <input type="text" id="search" placeholder="請輸入關鍵字" />
        <a id="searchicon" href="#"
          ><img src="images/search.png" width="15px"
        /></a>
      </div>
    </div>

    <div class="menu">
      <div class="logo">
        <a href="http://localhost:3000"
          ><img src="images/logo.png" width="120px" alt="Fitness Base"
        /></a>
        <h1>Fitness Base</h1>
      </div>
      <div class="list">
        <ul>
          <li><a href="http://localhost:3000">首頁</a></li>
          <li><a href="https://google.com" target="_blank">肌肉剖析</a></li>
          <li><a href="https://google.com" target="_blank">訓練資訊</a></li>
          <li><a href="http://localhost:3000/tdee">TDEE計算機</a></li>
          <li><a href="http://localhost:3000/store">購物商城</a></li>
        </ul>
      </div>
    </div>

    <div class="content">
      <div class="wrap">
        <div class="productmenu">
          <ul>
            <li><a href="#">帽子</a></li>
            <li><a href="#">上衣</a></li>
            <li><a href="#">長褲</a></li>
            <li><a href="#">短褲</a></li>
            <li><a href="#">配件</a></li>
          </ul>
        </div>
        <div class="productlist">
          <ul>
            <li>
              <div class="sale">50%OFF</div>
              <img src="/images/product1.jpg" alt="" />
              <h2>機能上衣(黑)</h2>
              <span>$999</span>
            </li>
            <li>
              <div class="sale">50%OFF</div>
              <img src="/images/product1.jpg" alt="" />
              <h2>訓練上衣(白)</h2>
              <span>$999</span>
            </li>
            <li>
              <div class="sale">50%OFF</div>
              <img src="/images/product1.jpg" alt="" />
              <h2>訓練背心</h2>
              <span>$999</span>
            </li>
            <li>
              <div class="sale">50%OFF</div>
              <img src="/images/product1.jpg" alt="" />
              <h2>休閒帽T</h2>
              <span>$999</span>
            </li>
            <li>
              <div class="sale">50%OFF</div>
              <img src="/images/product1.jpg" alt="" />
              <h2>休閒上衣</h2>
              <span>$999</span>
            </li>
            <li>
              <div class="sale">50%OFF</div>
              <img src="/images/product1.jpg" alt="" />
              <h2>重磅長袖</h2>
              <span>$999</span>
            </li>
            <li>
              <div class="sale">50%OFF</div>
              <img src="/images/product1.jpg" alt="" />
              <h2>機能背心</h2>
              <span>$999</span>
            </li>
            <li>
              <div class="sale">50%OFF</div>
              <img src="/images/product1.jpg" alt="" />
              <h2>運動外套</h2>
              <span>$999</span>
            </li>
            <li>
              <div class="sale">50%OFF</div>
              <img src="/images/product1.jpg" alt="" />
              <h2>機能背心</h2>
              <span>$999</span>
            </li>
            <li>
              <div class="sale">50%OFF</div>
              <img src="/images/product1.jpg" alt="" />
              <h2>機能背心</h2>
              <span>$999</span>
            </li>
            <li>
              <div class="sale">50%OFF</div>
              <img src="/images/product1.jpg" alt="" />
              <h2>機能背心</h2>
              <span>$999</span>
            </li>
            <li>
              <div class="sale">50%OFF</div>
              <img src="/images/product1.jpg" alt="" />
              <h2>機能背心</h2>
              <span>$999</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="shoppingcart">
      <a href="#"><img src="/images/shoppingcart.png" alt="購物車車" /></a>
    </div>
  </body>
</html>
